spring-hibernate4
TestSpringMVC01
.DS_Store
.metadata
*RemoteSystemsTempFiles
RemoteSystemsTempFiles/
*Servers
*target*
*.jar
*.war
*.ear
*.class

#eclipse specific
*.pydevproject
.project
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

#external tool builders
.externalToolBuilders/

#locally store Eclipse launch configurations
*.launch
